
@{
    ViewBag.Title = "No access";
}


<style>
    .message.warning {
        max-width: 400px;
        margin: 60px auto;
        padding: 20px;
        text-align: center;
        background: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
        border-radius: 6px;
        font-family: sans-serif;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
</style>


<div class="message warning">
    <p>An error has occurred. You do not have access or this layout doesn't exist.</p>
</div>
